Libreria.FrontEnd/Connected Services/LibreriaService/LibreriaServicio4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Libreria.Entidades.WCF.Libro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Libreria.Entidades.WCF.Libro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOLibroCuerpo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EditorialesId" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" type="xs:int" />
      <xs:element minOccurs="0" name="Npaginas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sinopsis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOLibroCuerpo" nillable="true" type="tns:DTOLibroCuerpo" />
</xs:schema>